 
.buy-style{
	background:navy;
	text-decoration: underline;
	color:white;
	border: none;
}

.buy-style a{
	color: white;
}


.review-container{
    border: 1px solid navy;
	padding: 12px;
	display: flex;
	}


.review-image{
margin: 0 !important;
padding: 20px!important; 
}

.left{
	flex:1;
	margin-right: 20px;
	width: 50%;
    float: left;
    padding-left: 20px;
}


.right{
 width: 70%;
  float: left;
  padding: 20px;
}

.review-description{
margin: 0 2px 0 2px;
}


.rating-container
{
	padding: 2px;
	display: flex;

}


.rating-child{
	flex:1;
	margin-right: 20px;
	width: 50%;
	padding-bottom: 10px;
}